body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.feed-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    color: white;
    border: 2px solid;
    border-radius: 20px;
}

.feed-box h2{
  margin-bottom: 1rem;
}

.feed-box h3{
  margin-bottom: 1rem;
}

img{
    width: 10rem;
    height: 10rem;
    border: 3px solid;
    border-radius: 90px;
}

.feed-box p{
    width: 30rem;
    margin: 0;
    margin-bottom: 1rem;
}

.social-icons {
   display: flex;
   justify-content: space-around;
   width: 250px;
   margin-top: 1rem;
}

.social-icons a {
  color: white;
  font-size: 2rem; 
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: gray;
}

@media (max-width: 768px) {
  .feed-box {
      padding: 2rem;
      border: none;
  }

  img {
      width: 8rem;
      height: 8rem;
  }

  .social-icons {
      width: 200px;
  }

  .social-icons a {
      font-size: 1.5rem;
  }
}

@media (max-width: 505px) {
  .feed-box {
      padding: 1rem;
  }

  .feed-box p{
    width: 90%;
  }

  img {
      width: 6rem;
      height: 6rem;
  }

  .social-icons {
      width: 150px;
  }

  .social-icons a {
      font-size: 1rem;
  }
}
