body{
    margin: 0;
    color: white;
}

li p{
    width: 30rem;
}

.Home-ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}

@media (max-width: 768px) {
    .Home-ul {
        align-items: center;
    }
}

@media (max-width: 510px) {
    li p{
        width: 25rem;
    }
}