.container-home{
    margin: 0;
    color: white;
    animation: chargepage 0.2s;
}

li p{
    width: 30rem;
    margin-top: 15px;
}

.Home-ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.Home-ul li p{
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .Home-ul {
        align-items: center;
    }
}

@media (max-width: 510px) {
    li p{
        width: 18rem;
    }
}