.container-projects{
    margin: 0;
    overflow: scroll;
    overflow-y: auto; /* Solo permite el scroll vertical */
    overflow-x: hidden; /* Oculta el scroll horizontal */
    height: 708px;
    animation: chargepage 0.2s;
}

.container-projects::-webkit-scrollbar{
    width: 8px; 
}

.container-projects::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    border-radius: 5px;
}

.container-projects::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 5px;
}

.container-projects::-webkit-scrollbar {
  height: 0;
}

.projects-ul li a{
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    color: white;
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
    margin-bottom: 15px;
}

.projects-ul p{
    margin-bottom: 20px;
}

.projects-ul li a:hover{
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.projects-ul li a:active{
    transform: translateY(1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .container-projects {
        padding-right: 1rem;
        height: auto;
    }

    .projects-ul li a {
        padding: 8px 16px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .projects-ul li a {
        padding: 6px 12px;
        font-size: 12px;
    }
}