.container-tools{
    min-height: 70vh;
    width: 60vh;
    align-items: center;
}

.title-tools{
    text-align: center;
}

.flex-tools{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 6px;
}

.flex-item{
    text-align: center;
    flex: 1 1 calc(28% - 20px);
    box-sizing: border-box;
    margin: 8px;
}

.flex-item img{
    height: 90px;
}

.flex-item a img {
    border: none; /* Quita cualquier borde predeterminado */
}


.flex-item p{
    font-size: 20px;
    margin: 0;
}