.container-tools{
    width: 50vh;
    align-items: center;
    animation: chargepage 0.2s;
}

.title-tools{
    text-align: center;
    margin-bottom: 15px;
}

.flex-tools{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 6px;
}

.flex-item{
    text-align: center;
    flex: 1 1 calc(28% - 20px);
    box-sizing: border-box;
    margin: 8px;
}

.flex-item img{
    height: 60px;
}

.flex-item a img {
    border: none; /* Quita cualquier borde predeterminado */
}


.flex-item p{
    font-size: 20px;
    margin: 0;
}

@media (max-width: 768px) {

    .flex-item {
        flex: 1 1 calc(45% - 10px);
    }

    .flex-item p {
        font-size: 18px;
    }
}

@media (max-width: 505px) {
    .flex-item {
        flex: 1 1 100%;
        margin: 4px 0;
    }

    .flex-item img {
        height: 70px;
    }

    .flex-item p {
        font-size: 16px;
    }
}

@keyframes chargepage {
    from {
        translate: 0 3rem;
    }
    to {
        translate: 0 0;
    }  
}