* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  
.background {
    position: absolute;
    width: 100%;
    min-height: 100vh;
}

.page-flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 0 2rem;
}

footer{
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 100%;
    text-align: center;
}

@media (max-width: 768px) {
    .page-flex{
        padding: 0;
    }

    footer{
        font-size: 12px;
    }
}
