* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
.background {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    transition: background 0.1s;
    background: rgb(76,70,170);
    background: linear-gradient(90deg, rgba(76,70,170,1) 0%, rgba(30,131,153,1) 45%, rgba(7,81,96,1) 100%);
}

.page-flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 0 1rem;
}

@media (max-width: 768px) {
    .background {
        background: linear-gradient(90deg, rgba(76,70,170,1) 0%, rgba(30,131,153,1) 60%, rgba(7,81,96,1) 100%);
    }

    body {
        padding: 0 1rem;
    }

    .page-flex{
        padding: 0;
    }
}
